
/*Style for Players*/

@media (max-width: 768px) {
    header {
        flex-direction:row;
    }
    header img {
        height: 50px;
    }
    header h1 {
        font-size: 25px;

    }
    nav{
        padding-top:10px;
        padding-bottom: 0px;
    }
    nav ul {
        flex-direction: row;
    }
    nav ul li {
        font-size: 10px;
    }
    .about-section {
        flex-direction: column;
        align-items: center;
    }
    .about-section img {
        max-width: 100%;
        margin: 10px 0;
    }
    .imgBlock {
        flex-direction: column;
        width: 300px;
        height: auto;
    }
    .heading,nav{
        background-color: rgb(58, 56, 56);
        margin:0;   
    }
    .heading{
        font-size: 10px;
        color: wheat;
        padding: 10px;
        position: sticky;
        top: 116px;
        position: sticky;
    }

    .imgp {
        max-height: 400px;
    }
    .Pdtls {
        font-size: 18px;
    }
    .matchTable {
        width: 100%;
    }
    nav ul {
        list-style-type: none;
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
        overflow-x:scroll;
        scrollbar-width: none;
    }
}


/*Style for MAtches*/
@media (max-width: 768x){

    .matchHeading {
        font-family:Georgia;
        font-size: 10px;
        text-align: center;
        margin: 20px 0,5px,0;
    }

    .matchTable th {
        background-color: #252825; 
        color:orangered; 
        font-weight: bold;
        position: sticky; 
        top: 0;
        z-index:2;
        font-size: 10px; 
    }
    .matchTable tr {
        display: table;
        width: 100%; 
        table-layout: fixed;
        font-size: 10px;
    }
    .tableContainer {
        display: flex; 
        justify-content: center; 
        align-items: center; 
        margin-bottom: 50px;

    }
}

    
