body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: antiquewhite;

}
.Header{
    position: sticky;
    top: 0;
}
.teamNameWithLogo{
    background-image: url("pictures/header.jpg");
    color: white;
    padding: 10px 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
}
.teamNameWithLogo img { 
    height: 85px;
    border-radius: 100%;
}
.teamNameWithLogo h1{
    font-size:40px;
    font-family: Georgia;
}

.nav {
    list-style-type: none;
    display: flex;
    justify-content:center;
    margin: 0;
    padding: 0; background-color: #383e44;
    padding: 10px 20px;
}
.nav li {
    margin: 0 20px;
}
.nav li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: 'Segoe UI';
}
.nav li a:hover {
    color: orangered;
    transition: 0.5s;
}


/* Dash Board Styles */
/* Dash Board Styles */
/* Dash Board Styles */

.about-section {
    display: flex;
    flex-direction: row;
    background-color:beige;
    text-align: justify;
    align-items: flex-start;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    line-height:1cm;
    box-shadow: 10px 2px 5px rgba(138, 51, 51, 0.2);
}
.aboutUs{
    font-family: Georgia;
    letter-spacing: 12px;
    font-size: 15px;
    color:rgb(234, 207, 133);
    text-align: center;
    background-color:#383e44;
    padding-top:6px;
    padding-bottom: 2px;
    top: 160px;
    position: sticky;
    margin-bottom: 10px;
}
.about-section img {
    max-width: 50%;
    height: 300px;;
    border-radius: 5px;
    margin-left: 40px;
    margin-right:40px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 2px rgba(6, 1, 1, 0.1);
}

.img:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
}

.about-section h2 {
    color: #066e79;
}
footer {
    background-color: #191a1c;
    color:orangered;
    text-align: center;
    padding: 3px;
    margin-top: 25px;
}


/* Players Styles*/
/* Players Styles*/
/* Players Styles*/

.heading{
    font-family: Georgia;
    letter-spacing: 12px;
    font-size: 15px;
    color:rgb(234, 207, 133);
    text-align: center;
    background-color:#383e44;
    padding-top:6px;
    padding-bottom: 2px;
    top: 160px;
    position: sticky;
}

.imgSection{
    margin:30px 20px 30px 20px;
    align-items: center;
    gap: 30px;
    display: flex;
    flex-direction: column;
}
.imgBlock{
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-content: center;

}
.imgp{
    width:300px;
    height:300px;
    border-radius: 10px;
    box-shadow: 0 2px 2px rgba(6, 1, 1, 0.1);
}

.image{
    display:flex;
    flex-direction: column;
    

}

.Pdtls{
    font-family: Georgia;
    font-size: 20px;
    text-align: center;
    background-color: #191a1c;
    color: aliceblue;
    padding:15px;
    border-radius: 10px;
    line-height:30px;
}
.image,.Pdtls{
    margin: 1px;
    padding: 0;
}


/*Syle for Matches*/
/*Syle for Matches*/
/*Syle for Matches*/

.matchHeading {
    font-family: Georgia;
    letter-spacing: 5px;
    font-size: 15px;
    color:rgb(234, 207, 133);
    text-align: center;
    background-color:#383e44;
    padding-top:6px;
    padding-bottom: 2px;
    top: 160px;
    position: sticky;
    margin-bottom: 10px;
}

.tableContainer {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: auto;
}

.matchTable {
    border-collapse: collapse;
    width: 80%;
    background-color: #fcf0f0; 
    margin: 0 auto;
}

.matchTable tbody {
    display: block; 
    max-height: 300px; 
    overflow-y: auto; 
    width: 100%; 
}

.matchTable thead {
    display: table;
    width: 100%; 
    table-layout: fixed;
}

.matchTable tr {
    display: table;
    width: 100%; 
    table-layout: fixed;
}

.matchTable th, .matchTable td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}


.matchTable th {
    background-color: #252825; 
    color:orangered; 
    font-weight: bold;
    position: sticky; 
    top: 0;
    z-index:2; 
}

.matchTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

.match-result {
    font-weight: bold;
}

.match-result.win {
    color: green;
}

.match-result.loss {
    color: red;
}

.match-result.draw {
    color: orange;
}


/*Style for Achievements*/
.achSection{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 50px;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    
}

.achDiv{
    background-color:#3a3c3a;
    border-radius: 5px;
    width: 400px;
    height: 380px;
}
.achDiv:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
}
.achImg{
    width: 400px;
    height: 300px;
    border-radius:7px;
    box-shadow: 0 2px 2px rgba(6, 1, 1, 0.1);
    border-color: #191a1c;
}
.achDtls{
    font-family: 'Lucida Sans';
    color: whitesmoke;
    font-size:15px;
    text-align: center;
    padding: 2px;
}

.achHead{
    font-family: Georgia;
    letter-spacing: 8px;
    font-size: 15px;
    color:rgb(234, 207, 133);
    text-align: center;
    background-color:#383e44;
    padding-top:6px;
    padding-bottom: 2px;
    top: 160px;
    position: sticky;
    margin-bottom: 10px;
}




/*Style for Contacts*/

.contHead {
    font-family: Georgia;
    letter-spacing: 8px;
    font-size: 15px;
    color:rgb(234, 207, 133);
    text-align: center;
    background-color:#383e44;
    padding-top:6px;
    padding-bottom: 2px;
    top: 160px;
    position: sticky;
    margin-bottom: 10px;
}

.contact-details{
    margin-left: 50px;
    justify-content: center;
    background-color: #bbcfbb;
    border-radius: 12px;
    padding: 20px;
    margin-right: 200px;
    margin-left: 200px;
    
}
.cHeads{
    font-family:Georgia;
    font-size: 35px;
    color: brown;
    text-align: center;
}
.Cdtls{
    text-align: center;
    font-family: 'Times New Roman';
    font-size: 25px;
}


/*Style for Join Us*/

.JoinHead {
    font-family: Georgia;
    letter-spacing: 6px;
    font-size: 15px;
    color:rgb(234, 207, 133);
    text-align: center;
    background-color:#383e44;
    padding-top:6px;
    padding-bottom: 2px;
    top: 160px;
    position: sticky;
    margin-bottom: 10px;
}

form {
    width: 80%;
    max-width: auto;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-left: 150px;
    font-family:Georgia;
}

fieldset {
    border: 2px solid orangered;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 10px 20px;
}

legend {
    font-weight: bold;
    font-size: 20px;
    color: rgb(224, 72, 13);
    font-family: 'Lucida Sans';
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="date"],
input[type="tel"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 12px;
}

textarea {
    resize: none;
}

.checkbox-group, .radio-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.checkbox-group label, .radio-group label {
    font-weight: normal;
}

input[type="checkbox"],
input[type="radio"] {
    margin-right: 5px;
}

button {
    background-color: #ea4200;
    color: #ffffff;
    font-size: 1rem;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #eec75e;
    color: black;
    font-family: 'Gill Sans';
    transition-duration: 0.6s;
    font-weight: bolder;
}

